<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxy.travelaiagent.mapper.AppUserMapper">

    <resultMap id="BaseResultMap" type="com.cxy.travelaiagent.entity.AppUser">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="userAccount" column="userAccount" />
            <result property="phone" column="phone" />
            <result property="email" column="email" />
            <result property="password_hash" column="password_hash" />
            <result property="created_at" column="created_at" />
            <result property="updated_at" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,phone,email,password_hash,
        created_at,updated_at,userAccount
    </sql>
</mapper>
